<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteName" verbose="1" parallel="false">
    <test name="ORBGatewayTest">
        <classes>
            <class name="tech.orbfin.api.gateway.backend.account.CreateTest"/>
            <class name="tech.orbfin.api.gateway.backend.account.ActivateTest"/>
            <class name="tech.orbfin.api.gateway.backend.AuthTest"/>
            <class name="tech.orbfin.api.gateway.backend.ChangeTest"/>
            <class name="tech.orbfin.api.gateway.backend.PasswordTest"/>
            <class name="tech.orbfin.api.gateway.backend.account.DetailsTest"/>
            <class name="tech.orbfin.api.gateway.backend.account.RecoverTest"/>
            <class name="tech.orbfin.api.gateway.backend.AdminTest"/>
        </classes>
    </test>
</suite>